<a href="https://colab.research.google.com/github/LVRANRAN/maching_learning_homework/blob/master/textRetrivalSystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import re
import string
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import linear_kernel

filepath0 = "d_query.txt"
filepath1 = "d1.txt"
filepath2 = "d2.txt"
filepath3 = "d3.txt"
filepath4 = "d4.txt"
filepath5 = "d5.txt"

# parser function
def parser(filepath):
  file = open(filepath,"r")
  content = file.read()
  file.close()
  return content

#lowercase letters, remove punctuation and white space
document0 = str(parser(filepath0)).lower().translate(str.maketrans("","",string.punctuation)).strip()
document1 = str(parser(filepath1)).lower().translate(str.maketrans("","",string.punctuation)).strip()
document2 = str(parser(filepath2)).lower().translate(str.maketrans("","",string.punctuation)).strip()
document3 = str(parser(filepath3)).lower().translate(str.maketrans("","",string.punctuation)).strip()
document4 = str(parser(filepath4)).lower().translate(str.maketrans("","",string.punctuation)).strip()
document5 = str(parser(filepath5)).lower().translate(str.maketrans("","",string.punctuation)).strip()

#remove the numbers
dm0 = re.sub(r'\d+', '', document0)
dm1 = re.sub(r'\d+', '', document1)
dm2 = re.sub(r'\d+', '', document2)
dm3 = re.sub(r'\d+', '', document3)
dm4 = re.sub(r'\d+', '', document4)
dm5 = re.sub(r'\d+', '', document5)

#convert documents to a vector
vectorizer1 = CountVectorizer()
X = vectorizer1.fit_transform([dm0,dm1,dm2,dm3,dm4,dm5])
feature_names1 = vectorizer1.get_feature_names()
dense1 = X.todense() #transfer X to a matrix
denselist1 = dense1.tolist()
vectors = pd.DataFrame(denselist1, columns=feature_names1)
print(vectors)

#calculate tf-idf
vectorizer2 = TfidfVectorizer()
Y = vectorizer2.fit_transform([dm0,dm1,dm2,dm3,dm4,dm5])
feature_names2 = vectorizer.get_feature_names()
dense2 = Y.todense()
denselist2 = dense2.tolist()
tfidf = pd.DataFrame(denselist2, columns=feature_names2)
print(tfidf)

#calculater cosime similarity
cosine_similarities = linear_kernel(tfidf[0:1], tfidf).flatten()
cosine_similarities

   about  above  according  accused  acidity  ...  yards  years  yemen  york  zone
0      0      0          0        0        0  ...      0      0      0     0     0
1      1      0          0        0        0  ...      0      0      0     0     0
2      0      1          2        1        0  ...      0      0      0     0     1
3      0      0          0        0        0  ...      1      0      0     1     0
4      0      0          0        0        1  ...      0      1      1     0     0
5      0      0          0        0        0  ...      0      0      0     0     0

[6 rows x 538 columns]
      about     above  according  ...     yemen      york      zone
0  0.000000  0.000000   0.000000  ...  0.000000  0.000000  0.000000
1  0.054612  0.000000   0.000000  ...  0.000000  0.000000  0.000000
2  0.000000  0.046891   0.093782  ...  0.000000  0.000000  0.046891
3  0.000000  0.000000   0.000000  ...  0.000000  0.040155  0.000000
4  0.000000  0.000000   0.000000  ...  0.046152  0.000000  0.000000
5  0.000000  0.000000   0.000000  ...  0.000000  0.000000  0.000000

[6 rows x 538 columns]

array([1.        , 0.06296287, 0.04730374, 0.04629572, 0.27353019,
       0.09469602])